@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
$header-color: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 50px;
  h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
  }
  button {
    background-color: darkgoldenrod;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
  }
}
main {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
      color: blue;
      font-size: 32px;
    }
    p {
      font-family: 'Dancing Script', cursive;
      font-size: 28px;@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
      font-weight: 700;
      margin: 10px;
    }
    button {
      background-color: darkgoldenrod;
      border: 2px solid black;
      padding: 10px 30px;
      border-radius: 50px;
      color: white;
    }
  }
}